@media (max-width:768px) {
    .section1 .flex {
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }

    .section1 .flex .topleft {
        width: 100%;
    }

    .section1 .flex .topright img {
        display: none;
    }

    .container {
        max-width: 100vw;
    }

    nav ul li {
        display: none;
    }

    nav ul li:last-child {
        display: block;
    }

    .section2, .section3 {
        padding: 0;
    }

    .section2 .boxes {
        flex-direction: column;
    }
}